.sidenav {
	height: 100%;
	position: fixed;
	z-index: 1111;
	top: 0;
	left: 0;
	background-color: $sd-do;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	right: 100%;
	width: 100%;
	a, button {
		text-decoration: none;
		font-size: 1rem;
		color: #fff;
		display: block;
		transition: 0.3s;
		padding: 0.45rem 2rem;
		border-bottom: 0.5px solid rgba(238, 238, 238, 0.5) !important;
	}
	.closebtn {
		position: absolute;
		top: 1rem;
		left: 1rem;
		font-size: 2rem;
	}
}
.opennav {
	font-size: 2rem;
	cursor: pointer;
	border: 1px solid $sd-do;
	color: $sd-do;
	border-radius: 0rem;
	width: max-content;
}
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
		a {
			font-size: 18px;
		}
	}
}
@media (max-width: 576px) {
	.container {
		max-width: 100%;
		width: 100%;
	}
	.nav-tabs .nav-link {
		font-size: 0.7rem;
	}
	.scrolled {
		.container {
			width: 100% !important;
			max-width: 100% !important;
			animation: container 0.5s ease-in-out;
		}
	}
	@keyframes container {
		0%{
			width: 100%;
			max-width: 100%;
		}
		100%{
			width: 100%;
			max-width: 100%;
		}
	}
	.description {
		img {
			width: 100% !important;
			height: auto !important;
			margin: 3% 0%;
		}
	}
}
@media (min-width: 576px) and (max-width: 768px) {
	.container {
		max-width: 95%;
		width: 95%;
	}
	.scrolled {
		.container {
			width: 100% !important;
			max-width: 100% !important;
			animation: container 0.5s ease-in-out;
		}
	}
	@keyframes container {
		0%{
			width: 95%;
			max-width: 95%;
		}
		100%{
			width: 100%;
			max-width: 100%;
		}
	}
	.description {
		img {
			width: 90% !important;
			height: auto !important;
			margin: 3% 5%;
		}
	}
}
@media (min-width: 768px) and (max-width: 992px) {
	.container {
		max-width: 95%;
		width: 95%;
	}
	.scrolled {
		.container {
			width: 100% !important;
			max-width: 100% !important;
			animation: container 0.5s ease-in-out;
		}
	}
	@keyframes container {
		0%{
			width: 95%;
			max-width: 95%;
		}
		100%{
			width: 100%;
			max-width: 100%;
		}
	}
	.cat {
		.col-lg-3 {
			&:nth-child(1) {
				border-left: 0.5px solid $sd-yek;
				border-bottom: 0.5px solid $sd-yek;
				border-top: 0px;
				border-right: 0px;
			}
			&:nth-child(2) {
				border-left: 0.5px solid $sd-yek;
				border-bottom: 0.5px solid $sd-yek;
				border-top: 0px;
				border-right: 0px;
			}
			&:nth-child(3) {
				border-left: 0px;
				border-bottom: 0.5px solid $sd-yek;
				border-top: 0px;
				border-right: 0px;
			}
			&:nth-child(4) {
				border-left: 0.5px solid $sd-yek;
				border-bottom: 0.5px solid $sd-yek;
				border-top: 0px;
				border-right: 0px;
			}
			&:nth-child(5) {
				border-left: 0.5px solid $sd-yek;
				border-bottom: 0.5px solid $sd-yek;
				border-top: 0px;
				border-right: 0px;
			}
			&:nth-child(6) {
				border-left: 0px;
				border-bottom: 0.5px solid $sd-yek;
				border-top: 0px;
				border-right: 0px;
			}
			&:nth-child(7) {
				border-left: 0.5px solid $sd-yek;
				border-bottom: 0px;
				border-top: 0px;
				border-right: 0px;
			}
			&:nth-child(8) {
				border-left: 0.5px solid $sd-yek;
				border-bottom: 0px;
				border-top: 0px;
				border-right: 0px;
			}
			&:nth-child(9) {
				border-left: 0px;
				border-bottom: 0px;
				border-top: 0px;
				border-right: 0px;
			}
		}
	}
	.panel-usel {
		.user-box {
			.avatarbox {
				width: 40%;
				img {
					border: 2.5px solid #fff;
				}
			}
			.name {
				text-align: center;
				margin-top: 1rem;
			}
		}
	}
	.description {
		img {
			width: 70% !important;
			height: auto !important;
			margin: 3% 15%;
		}
	}
}
@media (min-width: 992px) and (max-width: 1200px) {
	.container {
		max-width: 95%;
		width: 95%;
	}
	.menu {
		.bottom {
			.nav-item {
				margin: 0 0.5rem;
			}
			.nav-link {
				font-size: 0.7rem;
			}
		}
	}
	.description {
		img {
			width: 80% !important;
			height: auto !important;
			margin: 3% 10%;
		}
	}
}
@media (min-width: 1200px) and (max-width: 1400px) {
	.container {
		max-width: 90%;
		width: 90%;
	}
	.menu {
		.bottom {
			.nav-item {
				margin: 0 0.5rem;
			}
			.nav-link {
				font-size: 0.8rem;
			}
		}
	}
	.description {
		img {
			width: 60% !important;
			height: auto !important;
			margin: 3% 20%;
		}
	}
}
@media (min-width: 1400px) {
	.container {
		max-width: 82%;
		width: 82%;
	}
	.description {
		img {
			width: 60% !important;
			height: auto !important;
			margin: 3% 20%;
		}
	}
}
// 
@media (max-width: 768px) {
	.cat {
		.col-lg-3 {
			&:nth-child(1) {
				border-left: 0.5px solid $sd-yek;
				border-bottom: 0.5px solid $sd-yek;
				border-top: 0px;
				border-right: 0px;
			}
			&:nth-child(2) {
				border-left: 0px;
				border-bottom: 0.5px solid $sd-yek;
				border-top: 0px;
				border-right: 0px;
			}
			&:nth-child(3) {
				border-left: 0.5px solid $sd-yek;
				border-bottom: 0.5px solid $sd-yek;
				border-top: 0px;
				border-right: 0px;
			}
			&:nth-child(4) {
				border-left: 0px;
				border-bottom: 0.5px solid $sd-yek;
				border-top: 0px;
				border-right: 0px;
			}
			&:nth-child(5) {
				border-left: 0.5px solid $sd-yek;
				border-bottom: 0px;
				border-top: 0px;
				border-right: 0px;
			}
			&:nth-child(6) {
				border-left: 0px;
				border-bottom: 0px;
				border-top: 0px;
				border-right: 0px;
			}
			&:nth-child(7) {
				border-left: 0.5px solid $sd-yek;
				border-bottom: 0px;
				border-top: 0.5px solid $sd-yek;
				border-right: 0px;
			}
			&:nth-child(8) {
				border-left: 0px;
				border-bottom: 0px;
				border-top: 0.5px solid $sd-yek;
				border-right: 0px;
			}
		}
	}
}
@media (min-width: 992px) {
	.cat {
		.col-lg-3 {
			&:nth-child(1) {
				border-left: 0.5px solid $sd-yek;
				border-bottom: 0.5px solid $sd-yek;
				border-top: 0px;
				border-right: 0px;
			}
			&:nth-child(2) {
				border-left: 0.5px solid $sd-yek;
				border-bottom: 0.5px solid $sd-yek;
				border-top: 0px;
				border-right: 0px;
			}
			&:nth-child(3) {
				border-left: 0.5px solid $sd-yek;
				border-bottom: 0.5px solid $sd-yek;
				border-top: 0px;
				border-right: 0px;
			}
			&:nth-child(4) {
				border-left: 0px;
				border-bottom: 0.5px solid $sd-yek;
				border-top: 0px;
				border-right: 0px;
			}
			&:nth-child(5) {
				border-left: 0.5px solid $sd-yek;
				border-bottom: 0px;
				border-top: 0px;
				border-right: 0px;
			}
			&:nth-child(6) {
				border-left: 0.5px solid $sd-yek;
				border-bottom: 0px;
				border-top: 0px;
				border-right: 0px;
			}
			&:nth-child(7) {
				border-left: 0.5px solid $sd-yek;
				border-bottom: 0px;
				border-top: 0px;
				border-right: 0px;
			}
			&:nth-child(8) {
				border-left: 0px;
				border-bottom: 0px;
				border-top: 0px;
				border-right: 0px;
			}
		}
	}
} 