@import "../shared/variables";
.title {
    .right {
        .icon {
            width: 3px;
            height: 30px;
            background: $primaryColor;
        }
    }
}
.breadcrumb {
    li {
        font-size: 14px;
    }
    a {
        color: #000;
    }
}
.contact-us {
    .contact-info {
        background-color: #fff;
        padding: 1rem;
        border-radius: 16px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
        .info {
            li {
                margin-bottom: 1.5rem;
                list-style: none;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .bi-youtube {
        color: #ff0000;
    }
    .bi-linkedin {
        color: #0a66c2;
    }
    .bi-facebook {
        color: #316ff6;
    }
    .bi-instagram {
        background: -webkit-linear-gradient(#4762d8, #da2981, #ffd369);
        background-clip: border-box;
        background-clip: border-box;
        background-clip: border-box;
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .bi-tiktok {
        color: #000;
    }
    .input-box {
        background-color: #fff;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
        padding: 6px 4px;
        border-radius: 12px;
        margin-bottom: 1rem;
        &:last-child {
            margin-bottom: 0;
        }
        input {
            direction: rtl;
            ::placeholder {
                color: #464646 !important;
            }
        }
    }
}
@media (min-width: 1600px) {
    .description {
        img {
            max-width: 70% !important;
            max-height: max-description !important;
            margin: auto !important;
            display: block;
        }
    }
}
@media (min-width: 1400px) and (max-width: 1600px) {
    .description {
        img {
            max-width: 80% !important;
            max-height: max-description !important;
            margin: auto !important;
            display: block;
        }
    }
}
@media (min-width: 1200px) and (max-width: 1400px) {
    .description {
        img {
            max-width: 80% !important;
            max-height: max-description !important;
            margin: auto !important;
            display: block;
        }
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .description {
        img {
            width: 70% !important;
            height: auto !important;
            margin: auto !important;
            display: block;
        }
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .description {
        img {
            width: 80% !important;
            height: auto !important;
            margin: auto !important;
            display: block;
        }
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    .description {
        img {
            width: 90% !important;
            height: auto !important;
            margin: auto !important;
            display: block;
        }
    }
}
@media (max-width: 576px) {
    .description {
        img {
            width: 100% !important;
            height: auto !important;
        }
    }
}
