@import "../shared/variables";
.title {
    .right {
        .icon {
            width: 3px;
            height: 30px;
            background: $primaryColor;
        }
    }
}
.breadcrumb{
    li{
        font-size: 14px;
    }
    a{
           color: #000;
    }
}
.brand-card{
    img {
        border: 1px solid #acacac;
        border-radius: 16px;
        padding: 12px 14px;
    }
}