@import "../shared/variables";
.panel {
    .side-panel {
        border-radius: 16px;
        background: #fff;
        position: relative;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
        .icon {
            width: max-content;
            margin: auto;
            margin-bottom: auto;
            background: #ffffff;
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            border: 1px solid #ddd;
            padding: 0.25rem;
        }
        .side-box {
            li {
                a {
                    color: #1a1a1a;
                    background: #fff;
                    font-size: 14px;
                    font-family: "Yekan-Re";
                    border-bottom: 1px solid #ddd;
                    border-radius: 0;
                    &:hover {
                        border-right: 4px solid $primaryColor;
                    }
                    i {
                        background: #ffffff;
                        padding: 6px;
                        border-radius: 6px;
                        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
                        color: #1a1a1a;
                    }
                    &.active {
                        border-right: 4px solid $primaryColor;
                    }
                }
            }
        }
        &.mobile {
            .accordion-button:not(.collapsed) {
                color: #000;
            }
            .accordion-button::after {
                content: "\F474";
                font-family: bootstrap-icons;
                background-image: unset !important;
                font-size: 25px;
                transform: unset !important;
                width: 2rem;
                height: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .icon {
                margin: unset !important;
            }
        }
    }
    .content {
        .box-dash {
            background-color: rgba(#fff, 1);
            border-radius: 16px;
            padding: 0.75rem;
            position: relative;
            .icon {
                width: max-content;
                margin-bottom: auto;
                background: #000;
                border-radius: 8px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(10.7px);
                -webkit-backdrop-filter: blur(8.7px);
                padding: 0.5rem;
                background-repeat: no-repeat;
                color: #fff;
            }
            .edit-info {
                position: absolute;
                top: 15px;
                left: 15px;
                color: #000;
            }
        }
        .favorites {
            .title {
                font-size: 18px;
                i {
                    background: #fff;
                    padding: 6px;
                    border-radius: 6px;
                    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(10px);
                    color: #666;
                }
            }
            .favorite-item {
                background: rgba(#fff, 1);
                border-radius: 16px;
                position: relative;
                .price {
                    .old-price {
                        p {
                            color: #555;
                            opacity: 0.4;
                            width: max-content;
                            position: relative;
                            font-weight: bold;
                            font-size: 14px;
                            &::before {
                                content: "";
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                margin: auto;
                                width: 100%;
                                height: 2px;
                                background: #555;
                            }
                        }
                    }
                    p {
                        color: #67d1a4;
                    }
                }
                .btn-add-to-cart {
                    border-radius: 10px !important;
                    &:hover {
                        border-color: $primaryColor;
                    }
                }
                .btn-trash {
                    background: transparent !important;
                    color: rgb(206, 0, 0) !important;
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    font-size: 17px;
                }
            }
        }
        .edit-info {
            .login-form {
                position: relative;
                overflow: hidden;
                padding: 2rem 2rem;
                background: rgba(#fff, 1);
                border-radius: 16px;

                .icon {
                    width: max-content;
                    margin: auto;
                    margin-bottom: auto;
                    background: rgba(255, 255, 255, 0.2);
                    border-radius: 16px;
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(10.7px);
                    -webkit-backdrop-filter: blur(8.7px);
                    border: 1px solid rgba(255, 255, 255, 0.21);
                    padding: 0.5rem 1rem;
                }
                textarea {
                    border: 1px solid #eee;
                    background: #fff;
                    box-shadow: none;
                    border-radius: 8px;
                }
                input:read-only {
                    border-radius: 8px;
                    background: #f8f8f8;
                    box-shadow: none;
                    border: 0;
                }
                input {
                    border: 1px solid #eee;
                    background: #fff;
                    box-shadow: none;
                    border-radius: 8px;
                }
                select:disabled {
                    border-radius: 8px;
                    background: #f8f8f8;
                    box-shadow: none;
                    border: 0;
                }
                select {
                    border: 1px solid #eee;
                    background-color: #fff;
                    box-shadow: none;
                    border-radius: 8px;
                }
                .btn-one:hover {
                    border: 1px solid $primaryColor;
                }
            }
            .btn-edit {
                background: transparent;
                border: 0;
                box-shadow: none;
                color: #000;
                font-size: 14px;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
            }
        }
        .tickets {
            background: rgba(#fff, 1);
            border-radius: 16px;

            .item {
                border-radius: 10px;
                padding: 4px 0;
                margin-bottom: 6px;
                &:last-child {
                    margin-bottom: 0;
                }
                &:nth-child(2n) {
                    background-color: #f1f1f1;
                }
                &:nth-child(2n-1) {
                    background-color: #fff;
                    border: 1px solid #eee;
                }
                a {
                    color: #000;
                }
            }
        }
        .chat-history {
            background: rgba(#fff, 1);
            border-radius: 16px;
            overflow-y: auto;
            overflow-y: scroll;
            scrollbar-width: none;
            -ms-overflow-style: none;
            height: 50vh;
            overflow-y: auto;
            padding: 1rem;
            li {
                .bg-you {
                    background-color: #e5e5e5;
                    color: #000;
                }
                .bg-me {
                    background-color: $primaryColor;
                    color: $textPrimary;
                }
                .max-width-70 {
                    max-width: 70%;
                }
                .img-you {
                    background: rgb(255, 255, 255);
                    font-size: 0px;
                    border-radius: 50% 50% 50% 0px;
                    border: 1px solid rgb(221, 221, 221);
                }
                .img-me {
                    background: rgb(255, 255, 255);
                    font-size: 0px;
                    border-radius: 50% 50% 0px;
                    border: 1px solid rgb(221, 221, 221);
                }
                .messege-text {
                    font-size: 13px;
                }
                .files {
                    margin-top: 4px;
                    .file-item {
                        font-size: 12px;
                        background-color: rgba(#fff, 1);
                        padding: 4px 6px;
                        border-radius: 10px;
                        color: #000;
                        i {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .form-message {
            .btn {
                background-color: $primaryColor;
                color: #fff;
                i {
                    transform: rotateY(180deg);
                }
                &:active {
                    border: 0;
                    outline: 0;
                }
                &:focus {
                    border: 0;
                    outline: 0;
                }
            }
            textarea {
                &:focus {
                    box-shadow: none;
                    border-color: #dee2e6 !important;
                }
            }
        }
        .orders {
            background-color: rgba(#fff, 1);
            border-radius: 16px;
            padding: 0.75rem;
            .order-item {
                padding: 4px;
                border: 1px solid #d8d8d8;
                border-radius: 16px;
                transition: 0.5s;
                margin-bottom: 0.75rem;
                .btn-one {
                    border-radius: 10px !important;
                }
                &:last-child {
                    margin-bottom: 0;
                }
                &:hover {
                    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.1);
                }
                .order-img {
                    width: 45px;
                    height: 45px;
                    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
                    border-radius: 50%;
                    margin-right: -10px;
                    list-style: none;
                    &:first-child {
                        margin-right: 0;
                    }
                    img {
                        width: 45px;
                        height: 45px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }
            }
        }
        .order-detail {
            .order-info,
            .user-info,
            .address-info {
                background: rgba(#fff, 1);
                border-radius: 16px;
                padding: 0.75rem;
                .info-item {
                    flex-wrap: wrap;
                    gap: 4px;
                    background: color-mix(
                        in srgb,
                        $primaryColor 30%,
                        transparent
                    );
                    padding: 0.5rem;
                    border-radius: 8px;
                    margin-bottom: 0.5rem;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            table {
                th,
                td {
                    background: transparent;
                }
            }
        }
        .packages {
            .item-package {
                background-color: rgba(#fff, 1);
                border-radius: 16px;
                padding: 0.75rem;
                img {
                    border-radius: 16px;
                }
                .btn-one {
                    &:hover {
                        border-color: $primaryColor !important;
                    }
                }
            }
        }
        .addresses {
            .address-item {
                background: rgba(#fff, 1);
                border-radius: 16px;
                .form-check {
                    background: color-mix(
                        in srgb,
                        $secondaryColor 30%,
                        transparent
                    );
                    width: max-content;
                    border-radius: 10px;
                    padding: 2px 10px;
                    display: flex;
                    align-items: center;
                    input {
                        margin-right: 0;
                        margin-left: 6px;
                        margin-top: 0;
                        &:checked {
                            background-color: #000;
                            border-color: #000;
                        }
                        &:focus {
                            box-shadow: none;
                            border-color: #666;
                        }
                    }
                }
                .btn-one {
                    &:hover {
                        border-color: $primaryColor;
                    }
                }
            }
            .edit-card {
                border: 0;
                border-radius: 0;
                border-top: 1px solid #ddd;
                input,
                select,
                textarea {
                    font-family: "Yekan-Re";
                    border: 1px solid #eee;
                    background-color: #fff;
                    box-shadow: none;
                    border-radius: 8px;
                    font-size: 14px;
                }
            }
            .modal-add {
                input,
                select,
                textarea {
                    font-family: "Yekan-Re";
                    border: 1px solid #eee;
                    background-color: #fff;
                    box-shadow: none;
                    border-radius: 8px;
                    font-size: 14px;
                }
            }
        }
    }
}
@media print {
    .print-button {
        /* display: none; */
        visibility: hidden;
    }
}
@media (min-width: 1400px) and (max-width: 1600px) {
}
@media (min-width: 1200px) and (max-width: 1400px) {
}
@media (min-width: 992px) and (max-width: 1200px) {
}
@media (min-width: 768px) and (max-width: 992px) {
}
@media (min-width: 576px) and (max-width: 768px) {
}
@media (max-width: 576px) {
    .tickets {
        border-radius: 16px !important;
    }
}
