@import "../shared/variables";
.title {
    .right {
        .icon {
            width: 3px;
            height: 30px;
            background: $primaryColor;
        }
    }
}
.breadcrumb {
    li {
        font-size: 14px;
    }
    a {
        color: #000;
    }
}
.swiper-categories {
    .cat-card {
        font-size: 14px;
    }
}
.sidebar {
    position: sticky;
    top: 1rem;
    li {
        margin-bottom: 0.5rem;
        &:last-child {
            margin-bottom: 0;
        }
        .form-check-input {
            box-shadow: none !important;
            outline: 0;
            border-color: #aaa !important;
            &:checked {
                background-color: $darkBtn;
                border-color: $darkBtn;
            }
        }
    }
}
.btn-submit-filter {
    &:hover {
        border-color: var(--color-one);
    }
}
.categories {
    li {
        transition: 0.5s;
        &:hover {
            margin-right: 5px;
        }
    }
}
.sort {
    li {
        margin-bottom: 0 !important;
    }
    .form-check {
        position: relative;
        padding-right: 0;
        input {
            position: absolute;
            inset: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            margin: 0;
            margin-right: 0;
            cursor: pointer;
            &:checked + label {
                background: $darkBtn;
                border-color: $darkBtn;
                color: #fff;
            }
        }
        label {
            border-radius: 8px;
            border: 1px solid rgba(37, 37, 37, 0.2);
            background: transparent;
            color: #444;
            padding: 2px 10px;
            cursor: pointer;
            font-size: 12px;
        }
    }
}
/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}
input[type="search"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}
.search {
    input {
        border-radius: 10px;
        box-shadow: none;
        padding-left: 3.25rem;
        font-size: 14px;
        &:focus {
            border-color: #dee2e6;
        }
        &::placeholder {
            color: #aaa !important;
        }
    }
    .spinner-border {
        width: 1rem;
        height: 1rem;
        border-width: 0.1em;
        border-style: solid;
        border-color: currentcolor currentcolor currentcolor transparent;
        border-image: none;
        position: absolute;
        z-index: 1;
        left: 33px;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}
.filtered {
    li {
        background: color-mix(in srgb, $secondaryColor 30%, transparent);
        padding: 4px 6px;
        border-radius: 6px;
        font-size: 13px;
    }
}
.sort-form {
    li {
        background-color: rgba(#fff, 1);
        padding: 6px;
        border-radius: 10px;
        margin-bottom: 0.5rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
        &:last-child {
            margin-bottom: 0;
        }
        input {
            box-shadow: none;
            outline: 0;
            &:checked {
                background-color: $darkBtn;
                border-color: $darkBtn;
            }
        }
    }
}

.filter {
    .accordion-item {
        margin-bottom: 0.75rem;
        border-bottom: 0;
        border-radius: 16px;
        overflow: hidden;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
        &:last-child {
            margin-bottom: 0;
        }
        input[type="search"] {
            box-shadow: none;
            outline: 0;
        }

        .accordion-button:not(.collapsed) {
            color: $textSecondary;
            background: $prmaryLightColor;
        }
        .accordion-button {
            &.collapsed {
                color: $textSecondary !important;
            }
            box-shadow: none;
        }
        .accordion-button::after {
            filter: brightness(0);
        }
    }
    .ui-slider-handle {
        border-radius: 50%;
        border: 0;
        background: $primaryColor;
        &:focus-visible {
            border: 0;
            outline: 0;
        }
    }
}
.lists {
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
}
.seo-box {
    .box {
        .button {
            transition: unset !important;
            margin: auto;
            width: max-content;
        }
        input {
            opacity: 0;
            position: absolute;
            pointer-events: none;
        }
        .p {
            display: block;
            -webkit-box-orient: vertical;
            overflow: hidden;
            white-space: inherit;
            word-wrap: break-word;
            transition: max-height 0.5s ease;
            color: #444;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            max-height: 25rem;
            -webkit-box-orient: vertical;
            line-height: 1.75rem;
            font-size: 0.9rem;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 250px;
                background: linear-gradient(
                    0deg,
                    $bodycolor 12%,
                    rgba(255, 255, 255, 0) 100%
                );
            }
        }
        input:checked + .p {
            -webkit-line-clamp: unset;
            max-height: max-content !important;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            height: auto;
            -webkit-box-orient: vertical;
        }
        input:checked + .p::after {
            content: unset !important;
        }
        input:checked ~ .button {
            opacity: 0;
            visibility: hidden;
            max-height: 0;
        }
    }
}
@media (min-width: 1400px) {
    .category {
        .cat-card {
            width: 8%;
        }
    }
    .description {
        .content {
            img {
                max-width: 75% !important;
                max-height: max-content !important;
                margin: auto !important;
                display: block;
                height: auto !important;
            }
        }
    }
}
@media (min-width: 1200px) and (max-width: 1400px) {
    .category {
        .cat-card {
            width: 9%;
        }
    }
    .description {
        .content {
            img {
                max-width: 70% !important;
                max-height: max-content !important;
                margin: auto !important;
                display: block;
                height: auto !important;
            }
        }
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .category {
        .cat-card {
            width: 12%;
        }
    }
    .description {
        .content {
            img {
                max-width: 75% !important;
                max-height: max-content !important;
                margin: auto !important;
                display: block;
                height: auto !important;
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .description {
        .content {
            img {
                max-width: 80% !important;
                max-height: max-content !important;
                margin: auto !important;
                display: block;
                height: auto !important;
            }
        }
    }
    .category {
        .cat-card {
            width: 14%;
        }
    }
    .sort {
        flex-direction: column;
        align-items: flex-start !important;
        justify-content: flex-start !important;
        p {
            display: none !important;
        }
        ul {
            flex-direction: column;
            align-items: flex-start !important;
            justify-content: flex-start !important;
            width: 100%;
            li {
                width: 100%;
                .form-check label {
                    padding: 8px 10px !important;
                    font-size: 14px !important;
                }
            }
        }
    }
    .filter {
        .accordion-item {
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1) !important;
        }
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    .description {
        .content {
            img {
                max-width: 90% !important;
                max-height: max-content !important;
                margin: auto !important;
                display: block;
                height: auto !important;
            }
        }
    }
    .category {
        .cat-card {
            width: 16%;
        }
    }
    .sort {
        flex-direction: column;
        align-items: flex-start !important;
        justify-content: flex-start !important;
        p {
            display: none !important;
        }
        ul {
            flex-direction: column;
            align-items: flex-start !important;
            justify-content: flex-start !important;
            width: 100%;
            li {
                width: 100%;
                .form-check label {
                    padding: 8px 10px !important;
                    font-size: 14px !important;
                }
            }
        }
    }

    .filter {
        .accordion-item {
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1) !important;
        }
    }
}
@media (max-width: 576px) {
    .description {
        .content {
            img {
                max-width: 100% !important;
                max-height: max-content !important;
                margin: auto !important;
                display: block;
                height: auto !important;
            }
        }
    }
    .category {
        .cat-card {
            width: 20%;
            font-size: 11px;
        }
    }
    .sort {
        flex-direction: column;
        align-items: flex-start !important;
        justify-content: flex-start !important;
        p {
            display: none !important;
        }
        ul {
            flex-direction: column;
            align-items: flex-start !important;
            justify-content: flex-start !important;
            width: 100%;
            li {
                width: 100%;
                .form-check label {
                    padding: 8px 10px !important;
                    font-size: 14px !important;
                }
            }
        }
    }
    .filter {
        .accordion-item {
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1) !important;
        }
    }
}
