$primaryColor : var(--primary-color);
$secondaryColor : var(--secondary-color);
$prmaryLightColor : var(--primary-light-color);
$secondaryLightColor: var(--secondary-light-color);
$textPrimary : var(--text-primary);
$textSecondary : var(--text-secondary);
$bodycolor : var(--body-color);

$darkBtn:#1A1A1A;
$lightBtn : #fff;

