@import "../shared/variables";
.btn-close-collapse {
    position: absolute;
    top: 20px;
    right: 125px;
    padding: 0;
}

.auth-modal{
    .nav-link{
        background: transparent;
        color: #666;
        font-size: 14px;
        &:hover{
            border-color: transparent;
        }
        &.active{
            color: $primaryColor;
            border-color: $primaryColor;
            border-bottom-color: transparent;
            font-family: "Yekan-Bold";
        }
    }
    input {
        border-radius: 10px;
        background: #fff;
        box-shadow: none;
        border: 1px solid #ddd !important;
        &:focus{
            border-color: #eee !important;
        }
        &::placeholder {
            color: #0000005e;
            font-family: "Yekan-Li";
        }
    }
    select {
        border-radius: 10px;
        background-color: #fff;
        box-shadow: none;
        border: 1px solid #ddd !important;
        &:focus{
            border-color: #eee !important;
        }
        &::placeholder {
            color: #0000005e;
            font-family: "Yekan-Li";
        }
    }
}
.cart {
    .steps {
        ul {
            position: relative;
            gap: 12rem;
            justify-content: center;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 50%;
                height: 2px;
                background: $primaryColor;
                margin: auto;
                z-index: -1;
            }
            li {
                &.active {
                    a {
                        font-family: "Yekan-bold";
                        i {
                            color: $primaryColor;
                            border-bottom: 3px solid $primaryColor;
                        }
                        span {
                            font-family: "Yekan-bold";
                            color: $primaryColor;
                        }
                    }
                }
                a {
                    background-color: $bodycolor;
                    padding: 0.5rem;
                    border-radius: 8px;
                    width: 130px;
                    color: #000;
                    i {
                        padding: 12px 16px;
                        background: #fff;
                        border-bottom: 3px solid #000;
                        border-radius: 8px;
                        font-size: 20px;
                        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
                    }
                    span {
                        font-size: 14px;
                        font-family: "Yekan-Re";
                    }
                }
            }
        }
    }
    .checkout {
        &.payment {
            .name {
                p {
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 1; /* number of lines to show */
                    line-clamp: 1;
                    -webkit-box-orient: vertical;
                }
            }
        }

        .products {
            .product-item {
                .color {
                    width: 0.75rem;
                    height: 0.75rem;
                    border-radius: 50%;
                    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.1);
                }
                .number {
                    width: max-content;
                    .value-button {
                        display: inline-block;
                        margin: 0px;
                        width: 35px;
                        height: 30px;
                        text-align: center;
                        vertical-align: middle;
                        padding: 11px 0;
                        background: $primaryColor;
                        -webkit-touch-callout: none;
                        -webkit-user-select: none;
                        -khtml-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        color: $textPrimary;
                    }

                    .value-button:hover {
                        cursor: pointer;
                    }

                    .decrease {
                        border-radius: 0px 8px 8px 0px;
                    }

                    .increase {
                        border-radius: 8px 0px 0px 8px;
                    }

                    #input-wrap {
                        margin: 0px;
                        padding: 0px;
                    }

                    input.number-input {
                        text-align: center;
                        border: none;
                        border-top: 1px solid #ddd;
                        border-bottom: 1px solid #ddd;
                        margin: 0px;
                        width: 50px;
                        height: 30px;
                        &:focus {
                            outline: 0;
                        }
                    }

                    input[type="number"]::-webkit-inner-spin-button,
                    input[type="number"]::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }
                .percent {
                    background-color: $primaryColor;
                    border-radius: 6px;
                    padding: 2px 8px;
                    font-size: 12px;
                    color: $textPrimary;
                }
            }
            .input-loading {
                .spinner-border {
                    width: 1rem;
                    height: 1rem;
                    border-width: 2px;
                }
            }
            .btn-trash {
                position: absolute;
                top: 0.5rem;
                left: 0.5rem;
                box-shadow: none;
                border: 0;
                color: red;
                width: max-content;
                padding: 0.5rem !important;
                font-size: 20px;
                background: #fff;
            }
        }
    }
    .address-item {
        background: #fff;
        border-radius: 10px;
        border: 1px solid #eee;
        &.active{
            border-color: #999;
        }
        .btn-trash {
            position: absolute;
            top: 0.5rem;
            left: 0.5rem;
            box-shadow: none;
            border: 0;
            color: red;
            width: max-content;
            padding: 0.5rem !important;
            font-size: 20px;
            background: #fff;
        }
        .color {
            width: 0.75rem;
            height: 0.75rem;
            border-radius: 50%;
            box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.1);
        }
        .form-check {
            background: color-mix(in srgb, $secondaryColor 30%, transparent);
            width: max-content;
            border-radius: 10px;
            padding: 2px 10px;
            display: flex;
            align-items: center;
            input {
                margin-right: 0;
                margin-left: 6px;
                margin-top: 0;
                &:checked {
                    background-color: #000;
                    border-color: #000;
                }
                &:focus {
                    box-shadow: none;
                    border-color: #666;
                }
            }
        }
        .btn-one {
            &:hover {
                border-color: $primaryColor;
            }
        }
    }
    .edit-card {
        border: 0;
        border-radius: 0;
        border-top: 1px solid #ddd;
        input,
        select,
        textarea {
            font-family: "Yekan-Re";
            border: 1px solid #eee;
            background-color: #fff;
            box-shadow: none;
            border-radius: 8px;
            font-size: 14px;
        }
    }
    .modal-add {
        input,
        select,
        textarea {
            font-family: "Yekan-Re";
            border: 1px solid #eee;
            background-color: #fff;
            box-shadow: none;
            border-radius: 8px;
            font-size: 14px;
        }
    }
    input.code {
        border-color: #ddd !important;
    }
    .pay-item {
        border: 1px solid #ddd;
        input {
            box-shadow: none !important;
            &:checked {
                background-color: #000;
                border-color: #000;
            }
        }
    }
    .mobile-checkout-btn {
        position: fixed;
        background: #fff;
        box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.1);
        padding: 10px 40px;
        border-radius: 20px;
        bottom: 10px;
        left: 20px;
        right: 20px;
        z-index: 4;
    }
}
.sidebar-cart {
    .address-item {
        background: #fff;
        border-radius: 10px;
        .btn-trash {
            position: absolute;
            top: 0.5rem;
            left: 0.5rem;
            box-shadow: none;
            border: 0;
            color: red;
            width: max-content;
            padding: 0.5rem !important;
            font-size: 20px;
            background: #fff;
        }
        .color {
            width: 0.75rem;
            height: 0.75rem;
            border-radius: 50%;
            box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.1);
        }
        .form-check {
            background: color-mix(in srgb, $secondaryColor 30%, transparent);
            width: max-content;
            border-radius: 10px;
            padding: 2px 10px;
            display: flex;
            align-items: center;
            input {
                margin-right: 0;
                margin-left: 6px;
                margin-top: 0;
                &:checked {
                    background-color: #000;
                    border-color: #000;
                }
                &:focus {
                    box-shadow: none;
                    border-color: #666;
                }
            }
        }
        .btn-one {
            &:hover {
                border-color: $primaryColor;
            }
        }
    }
    textarea {
        font-size: 13px;
        &:focus {
            outline: none;
            border-color: #ddd;
        }
    }
}

@media (min-width: 1400px) and (max-width: 1600px) {
    .hero {
        .over-hero {
            padding-top: 10rem;
            .img-header-inner {
                img {
                    border-radius: 16px;
                    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
                }
            }
            .hero-content {
                p {
                    font-size: 16px;
                }
            }
        }
    }
}
@media (min-width: 1200px) and (max-width: 1400px) {
    .hero {
        .img-header-inner {
            img {
                border-radius: 16px !important;
                box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
            }
        }
        .hero-content {
            p {
                font-size: 16px !important;
            }
        }
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .hero {
        .img-header-inner {
            img {
                border-radius: 16px !important;
                box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
            }
        }
        .hero-content {
            p {
                font-size: 16px !important;
            }
            .anchors {
                a {
                    font-size: 14px;
                }
            }
        }
    }
    .cart {
        .steps {
            ul {
                gap: 11rem !important;
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .sidebar-cart {
        box-shadow: none !important;
        border-top: 1px solid #ddd;
        border-radius: 0 !important;
    }
    .cart {
        .steps {
            ul {
                gap: 8rem !important;
            }
        }
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    .cart {
        .steps {
            ul {
                gap: 5rem !important;
            }
        }
    }
    .sidebar-cart {
        box-shadow: none !important;
        border-top: 1px solid #ddd;
        border-radius: 0 !important;
    }
    .mobile-checkout-btn {
        padding: 12px 10px 70px 10px !important;
    }
}
@media (max-width: 576px) {
    .mobile-checkout-btn {
        padding: 12px 10px 70px 10px !important;
    }
    .sidebar-cart {
        box-shadow: none !important;
        border-top: 1px solid #ddd;
        border-radius: 0 !important;
    }
    .cart {
        .steps {
            ul {
                gap: 1rem !important;
                li {
                    a {
                        width: 95px;
                        i {
                            padding: 8px 12px;
                            font-size: 16px;
                        }
                        span {
                            font-size: 12px !important;
                        }
                    }
                }
            }
        }
    }
}
