@import "../shared/variables";

.title {
    .right {
        .icon {
            width: 3px;
            height: 30px;
            background: $primaryColor;
        }
    }
}
.breadcrumb {
    li {
        font-size: 14px;
    }
    a {
        color: #000;
    }
}

.header-blog {
    .breadcrumb-item {
        font-size: 12px;
    }
    h1 {
        font-size: 28px;
        line-height: 1.75;
    }
    p {
        font-size: 18px;
        line-height: 1.75;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    .info {
        .info-item {
            font-size: 12px;
            color: #000;
            p {
                font-size: 12px;
            }
        }
    }
}

.content {
    .sidebar {
        position: relative;
        z-index: 2;
        .position-sticky {
            top: 1rem;
        }
        .img-header-inner {
            img {
                width: 100%;
                border-radius: 16px;
                box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.1);
            }
        }
    }
}
.service-description {
    position: relative;
    padding-top: 20px;
    .description-box {
        background: #fff;
        border-radius: 16px;
        padding: 1rem;
        .box {
            .id {
                position: absolute;
                top: -5rem;
            }
            .content {
                line-height: 1.75;
                font-size: 14px;
                color: #333;
                img {
                    margin-top: 8px !important;
                    margin-bottom: 8px !important;
                    margin: auto;
                    display: block;
                }
                .table-striped > tbody > tr:nth-of-type(odd) > * {
                    --bs-table-bg-type: $prmaryLightColor;
                }
                table {
                    width: 100% !important;
                    * {
                        align-content: center;
                    }
                    p {
                        margin-bottom: 0 !important;
                    }
                }
                p {
                    font-family: "Yekan-Re";
                    margin-bottom: 8px;
                }
                li {
                    font-family: "Yekan-Re";
                    list-style: inherit;
                }
            }
        }
    }
}
.related-blog {
    .related-item {
        background-color: rgba(#fff, 1);
        border-radius: 12px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
        margin-bottom: 0.5rem;
        &:last-child {
            margin-bottom: 0;
        }
        img {
            border-radius: 12px;
        }
        .date {
            color: #888;
            font-size: 11px;
        }
    }
    .swiper {
        height: unset;
        .swiper-slide {
            background: transparent;
        }
        .package-card {
            padding: 0;
            width: 100%;
            font-size: 16px;
            background-color: $primaryColor;
            color: #000;
            border-radius: 16px;
            overflow: hidden;
            a {
                padding: 35px 30px;
                display: block;
            }
            .arrow {
                width: 55px;
                height: 55px;
                border-radius: 50%;
                background: $primaryColor;
                filter: contrast(0.9);
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 25px !important;
                    height: 25px !important;
                    filter: contrast(1);
                }
            }
            .main-image {
                border-radius: 16px;
            }
            li {
                &:last-child {
                    margin-bottom: 0;
                }
                img {
                    width: 15px;
                    margin-left: 8px;
                }
            }
            .main-price {
                font-size: 16px;
                text-align: center;
                font-weight: 700;
            }
            .old-price {
                opacity: 0.4;
            }
        }
    }
}

.comments {
    margin-top: 80px;
    position: relative;
    .comment-form {
        background-color: $prmaryLightColor;
        border-radius: 16px;
        padding: 16px;
        label {
            color: $textSecondary;
        }
        input,
        textarea {
            background: $prmaryLightColor;
            filter: contrast(0.7) brightness(1.2);
            border-radius: 10px;
            border: 0;
            font-size: 14px;
            padding: 6px 12px;
            color: #000;
            &::placeholder {
                color: #5e5e5e;
            }
            &:focus {
                box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
                outline: unset;
                border: 0;
            }
            &:active {
                box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
                outline: unset;
                border: 0;
            }
        }
        .btn-form {
            border-radius: 10px;
            background-color: #fff;
            width: 100%;
            font-size: 12px;
            padding: 12px;
            transition: 0.5s;
            &:hover {
                border-color: #000;
            }
        }
    }
    .main-comment {
        background-color: rgba(244, 244, 244, 0.7);
        backdrop-filter: blur(20px);
        border-radius: 16px;
        padding: 20px;
        .body {
            font-size: 14px;
        }
        .rate-cm {
            gap: 2px;
            li {
                color: rgba(0, 0, 0, 0.2);
                &.rated {
                    color: #fecb02;
                }
            }
        }
    }
    .reply-comment {
        background-color: rgba(#fff, 0.7);
        box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(20px);
        border-radius: 16px;
        padding: 20px;
        .body {
            font-size: 14px;
        }
    }
}
@media (min-width: 1600px) {
    .service-description {
        .content {
            img {
                max-width: 70% !important;
                max-height: max-content !important;
                margin: auto !important;
                display: block;
            }
        }
    }
}
@media (min-width: 1400px) and (max-width: 1600px) {
    .header-blog {
        p {
            font-size: 16px;
        }
    }
    .comments {
        .comment-form {
            padding: 20px 20px 50px 20px !important;
        }
    }
    .service-description {
        .content {
            img {
                max-width: 80% !important;
                max-height: max-content !important;
                margin: auto !important;
                display: block;
            }
        }
    }
}
@media (min-width: 1200px) and (max-width: 1400px) {
    .header-blog {
        p {
            font-size: 16px !important;
        }
    }
    .comments {
        .comment-form {
            padding: 20px 20px 50px 20px !important;
        }
    }
    .service-description {
        .content {
            img {
                max-width: 80% !important;
                max-height: max-content !important;
                margin: auto !important;
                display: block;
            }
        }
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .header-blog {
        p {
            font-size: 16px !important;
        }
        .anchors {
            a {
                font-size: 14px;
            }
        }
    }

    .service-description {
        .content {
            img {
                width: 70% !important;
                height: auto !important;
                margin: auto !important;
                display: block;
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .header-blog {
        .img-header-inner {
            img {
                border-radius: 16px;
                width: 230px;
                box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.1);
            }
        }
    }
    .content {
        .sidebar {
            position: unset !important;
            margin-top: 0 !important;
            z-index: unset !important;
        }
    }
    .service-description {
        .description-box {
            border-radius: 16px;
        }
    }
    .seo-box {
        margin: 0 20px;
        padding: 30px;
        border-radius: 16px;
    }
    .service-description {
        .content {
            img {
                width: 80% !important;
                height: auto !important;
                margin: auto !important;
                display: block;
            }
        }
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    .header-blog {
        .img-header-inner {
            img {
                border-radius: 16px;
                width: 230px;
                box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.1);
            }
        }
    }

    .service-description {
        .description-box {
            border-radius: 16px;
            padding: 10px;
        }
    }
    .seo-box {
        margin: 0 0;
        padding: 30px;
        border-radius: 16px;
    }
    .service-description {
        .content {
            img {
                width: 90% !important;
                height: auto !important;
                margin: auto !important;
                display: block;
            }
        }
    }
}
@media (max-width: 576px) {
    .header-blog {
        .img-header-inner {
            margin-top: 0.5rem;
            img {
                border-radius: 16px !important;
            }
        }
        .anchors {
            flex-wrap: wrap;
            a {
                width: 100%;
                justify-content: center;
                text-align: center;
                margin: 0 !important;
                margin-bottom: 10px !important;
            }
        }
    }
    .service-description {
        padding-top: 10px;
        &::before {
            top: -110px !important;
            right: -250px !important;
        }
        .description-box {
            border-radius: 16px;
            padding: 10px;
        }
        .title-section {
            position: relative;
        }
        .mySwiper {
            width: unset !important;
            .swiper-button-next,
            .swiper-button-prev {
                top: 55% !important;
            }
        }
    }

    .related-services {
        margin-top: 50px;
        &::after {
            width: 50%;
            top: 40px;
            height: 300px;
        }
        &::before {
            top: 40px;
            width: 50%;
            height: 300px;
        }
        .team-card {
            padding: 6px 6px !important;
        }
    }
    .seo-box {
        margin: 0 0;
        padding: 30px 10px;
        border-radius: 16px;
    }
    .service-description {
        .content {
            img {
                width: 100% !important;
                height: auto !important;
            }
        }
    }
}
