@import "../shared/variables";
.title {
    .right {
        .icon {
            width: 3px;
            height: 30px;
            background: $primaryColor;
        }
    }
}
.breadcrumb {
    li {
        font-size: 14px;
    }
    a {
        color: #000;
    }
}
.search-page {
    .tabs-buttons {
        padding: 16px 0;
        z-index: 12;
        .nav-pills {
            gap: 8px;
            justify-content: center;
            li {
                .nav-link {
                    border-radius: 10px;
                    border: 1px solid rgba(37, 37, 37, 0.2);
                    background: transparent;
                    color: $textSecondary;
                    padding: 10px 20px;
                    font-size: 14px;
                    cursor: pointer;
                    &.active {
                        background: $primaryColor;
                        border-color: $primaryColor;
                        color: $textPrimary;
                    }
                }
            }
        }
    }
    .result {
        .product-brands {
            .brand-card {
                position: relative;
                transition: 0.5s;
                background-color: #fff;
                border-radius: 6px;
                padding: 4px;
                box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
                a{
                    color: #000;
                }
                
                &:hover {
                    margin-right: 5px;
                }
            }
        }
        .blogs {
            .blog-card {
                text-align: right;
                img {
                    border-radius: 16px;
                }
                .cat {
                    border-radius: 10px;
                    padding: 4px 10px;
                    font-size: 13px;
                    background: rgba(255, 255, 255, 0.8);
                    backdrop-filter: blur(8px);
                    color: #000;
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
                }
                .title {
                    font-size: 18px;
                    color: #000;
                }
                .description {
                    font-size: 14px;
                    color: #5f5f5f;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 3; /* number of lines to show */
                    line-clamp: 3;
                    -webkit-box-orient: vertical;
                }
                .date {
                    color: #000;
                    font-size: 12px;
                    i {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1400px) and (max-width: 1600px) {
}

@media (min-width: 1200px) and (max-width: 1400px) {
}
@media (min-width: 992px) and (max-width: 1200px) {
}
@media (min-width: 768px) and (max-width: 992px) {
}
@media (min-width: 576px) and (max-width: 768px) {
}
@media (max-width: 576px) {
    .search-page {
        .result {
            padding: 2.5rem 0.5rem 1.5rem 0.5rem;
        }
        .product-category .cat-card {
            padding: 8px 8px !important;
        }
    }
}
